
/* этот стиль будет перебивать другой, который подставляется благодаря tiny-slider */
/* .my-slider img { 
  width: 500px ;
}  */

 /* берем стиль, который подставляет tiny-slider . И нихера не работает*/

 /* #tns1 > .tns-item{
   width: 500px !important;
 } */


/* можно слайдер засунуть в контейнер и уже менять размер контейнера и картинок */
img {
  width: 300px;
  height: 300px;
}

.cont {
  width: 400px;
  height: 200px;
}